{% extends 'base.html' %}
        
{% block content %}

 
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">My Account</a></li>
                    <li class="breadcrumb-item active">Password Reset</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login"  >
            <div class="container-fluid" >
                <div class="row1">
                    <div class="" >    
                        <div class="register-form">
                            <div class="row1"  >
                                <div>
                                    {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                    <strong>Error:</strong> Please correct the errors below.
                                    <ul>
                                        {% for field in form %}
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    </div>
                                    {% endif %}
                                </div>

                                <div align="center">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {% comment %} <input type="password" name="password" class= "form-control width:10px!important;"> {% endcomment %}

                                            <input class="form-control" style="width:300px" type="password" name="password" placeholder="Enter New Password" >
                                        </div>
                                        <div class="col-md-12 pb-3">
                                            <button class="btn">Submit</button>
                                        </div>
                                        <p>Have an account? <a href="{% url 'login' %}">Log In</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Login End -->
        
        
{% endblock content %}

